/* ----------  Commons ----------- */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

          user-select: none;
          -webkit-touch-callout: none;
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  overflow:hidden;
}

/* To set it to none use a totally transparent RGBA */
a:link { -webkit-tap-highlight-color: rgba(0,0,0,0); }

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background: radial-gradient(ellipse farthest-side at 100% 100%, #E8EFE3 10%, #85D8CE 50%, #085078 120%);
}

/* ----------  Typo ----------- */

h1 {
  text-transform: uppercase;
  font-size: 85px;
  font-weight:700;
  margin-bottom:40px;
}

h1::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  left: calc(50% - 50px);
  bottom: 45px;
  background: #085078;
  box-shadow: 0 1px 0 #E8EFE3;
  opacity:.2;
}

p {
  font-size: 24px;
}

/* ----------  Structure ----------- */

#page{
	position: relative;
  width: 100%;
  height: 100%;
}

#main {
  position: absolute;
  top: 30%;
  margin: 30px 0;
  width: 100%;
  text-align: center;
}

/* Footer */

#footer ul {
  display: block;
  position: absolute;
  width: 100%;
  bottom:0;
  text-align: center;
  padding:10px 0px;
  margin:0px;
  background:rgba(0,0,0,0.1);
}

#footer ul > li {
  opacity:0.6;
  display: inline-block;
  padding: 0 2%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  background:transparent;
}

#footer ul > li:hover{
  opacity:1;
}

#footer a {
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
	white-space: nowrap;
  color:#FFF;
  font-size:30px;
}


/* ----------  Media Queries ----------- */

@media only screen and (max-width: 460px) {

  html, body {
    -webkit-overflow-scrolling: touch;
    overflow:scroll;
  }

  h1 {
    font-size: 58px;
  }

  #footer ul {
    padding:0px;
    display: block;
    position: relative;
    width:100%;
    background:transparent;
  }

  #footer ul > li {
    opacity:1;
    display: block;
    border-bottom:1px solid rgba(255,255,255,0.2);
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background:rgba(0,0,0,0.1);
  }

  #footer ul > li a{
    width:100%;
    padding:20px;
  }

  #footer ul > li:active{
    background:rgba(0,0,0,0.25);
  }
}

@media only screen and (max-height: 300px) {
  #footer{
    position:relative;
  }
}
