---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

//fonts
$font_0: Raleway;
$font_1: Arial;
$font_2: sans-serif;

// Style commons
$color-nav: rgba(8,8,18,0.2);
$color-white: #fefefe;
$color-project-back: #080812;

@import "theme-blue-steel";

@import "normalize",
        "skeleton",
        "icomoon",
        "style";

