
<div id="header">
  <div class="container">
    <h1 class="animate from-right" ng-class="{trigger: true}">Alexis Creuzot</h1>
    <h2 class="animate from-left" ng-class="{trigger: true}">[iOS developer]</h2>
    <ul class="social">
		<li><a href="{{perso.twitter}}" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
		<li><a href="{{perso.github}}" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
		<li><a href="{{perso.stack_overflow}}" target="_blank"><i class="fa fa-stack-overflow fa-lg"></i></a></li>
		<li><a href="{{perso.dribbble}}" target="_blank"><i class="fa fa-dribbble fa-lg"></i></a></li>
    </ul>
  </div>
</div>

<div id="main">
	<div class="container">
		<h2 style="text-align:center" class="animate from-right" ng-class="{trigger: true}">About me</h2>
		<div class="content animate from-right" ng-class="{trigger: true}" ng-controller="LabController">
			<p>While studying for my Master in Computer Science, I fell in love with the mobile industry.
			From this point I experimented on Android, iOS and Web technologies, which allowed me to gain a comprehensive vision of this field. I now specialize on iPhone and iPad platforms, with a keen eye for design and user experience.
			</p>
			<p>This expertise and my taste for entrepreneurship led me to co-found <a href="http://monoqle.fr" target="_blank">Monoqle</a> with my associate and awesome designer <a href="http://jeremypaul.me" target="_blank">Jeremy Paul</a> in 2015.
			</p>
			<p>I'm currently working at <a href="http://happyh0urs.com"  target="_blank">Happy Hours coworking</a> located in Rennes (France) which I also helped to create.</p>
			
			<h2 style="text-align:center" class="animate from-right" ng-class="{trigger: true}">My Apps</h2>

			<ul class="apps">
				<li data-ng-repeat="app in lab_data[0].content | limitTo:6 " class="animate from-right" ng-class="{trigger: true}" >
					<a class="nopadding" ng-href="{{app.url}}" target="_blank"><img class="icon" ng-src="{{app.image}}" ng-alt="{{app.name}}"></img></a>
				</li>
			</ul>
		</div>
		
	</div>
</div>
