/* --------------------------------

Primary styles

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-touch-callout:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: 'Aileron-Light', sans-serif;
	color: #000;
	background-color: #fff;
	font-size: 20px;
}

body, html {
	height: 100%;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #ef434c;
}

img {
	max-width: 100%;
}

h1 {
	font-family: 'Aileron-Thin', sans-serif;
	font-weight: 100;
	color: #2f3034;
	font-size: 60px;
}

h3 {
	font-family: 'Aileron-Light', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #a49c99;
}

p {
	font-family: 'Aileron-Light', sans-serif;
	color: #a49c99;
}

/* --------------------------------

Main components

-------------------------------- */

/** Logo **/

.logo-intro {
	position:absolute;
	top: 50%;
	left: 50%;
	text-align:center;

	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.logo-intro img{
	width:100%;
	max-width:500px;
	min-width:280px;
}

.baseline {
	margin-top: 20px;
}


.scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 40px;
  width: 44px;
  height: 30px;
  background: url("../img/arrow-bottom.svg") no-repeat center center;
}

/** Sections **/
section {
	min-height: 100%;
	padding: 10px 0 150px;
}

#section1{
	background-color: #161618;
}

#section2{
	background-color: #fff;
	background:url('../img/iphone.png') no-repeat bottom center;
	-webkit-background-size: 90%;
	-moz-background-size: 90%;
	-o-background-size: 90%;
	background-size: 90%;
}
#section2 h1{
	color:#ef434c;
}

#section3{
	background-color: #161618;
}

#section3 h1{
	color: #fdd390;
}

#section4{
	background-color: #988d88;
	color: #2f3034;
}

/** Form **/

#contact{
	margin-top:80px;
}

#contact input,
#contact textarea{
	color:#FFF;
	margin:20px 0;
	background:transparent;
	border:none;
	border-bottom: 1px solid #BBB;
}

#contact select,
#contact select:focus{
	color:#FFF;
	margin:30px 0;
	background:transparent;
	border: 1px solid #BBB;
	height: 44px;
}

#contact textarea,
#contact textarea:focus{
	border: 1px solid #BBB;
	height:172px;
}

#contact button,
#contact button:hover{
	color:#DDD;
	font-size:24px;
	background:transparent;
	border: 3px solid #BBB;
	height: 60px;
}

#contact button:hover{
	color:#FFF;
	border-color:#FFF;
}


/** Footer **/

footer{
	padding: 2em 0;
	background:#C9BEBA;
}

footer .row{
	margin:0;
}

/* --------------------------------

Media Queries

-------------------------------- */

/* Larger than mobile */
@media (max-width: 550px) {

	.baseline {
		font-size: 15px;
	}

}

