
<div class="avatar animate" ng-class="{trigger: imageLoaded}">
	<img />
</div>

<div class="content animate from-right" ng-class="{trigger: true}">
	<p>I'm <b>Alexis Creuzot</b>, a Mobile Engineer located in <b>Rennes, France</b>
		<br/>
		I experiment new ideas <a href="{{perso.github}}" target="_blank">on Github</a>, help and get helped on <a href="{{perso.stack_overflow}}" target="_blank">Stack Overflow</a> and scout for great stories <a href="{{perso.hn}}" target="_blank">on Hacker News</a>. I even craft some pixels on <a href="{{perso.dribbble}}" target="_blank">Dribbble</a> when I'm in the mood.
		<p>If you're also fond of that stuff, we should follow each other on <a href="{{perso.twitter}}" target="_blank">Twitter</a>.
	</p>
</div>
<br/>
<h2 class="animate from-right" ng-class="{trigger: true}">Last Apps</h2>
<div class="content animate from-right" ng-class="{trigger: true}" ng-controller="LabController">
	<ul class="apps">
		<li data-ng-repeat="app in lab_data[0].content | limitTo:6 " >
			<a class="nopadding" ng-href="{{app.url}}" target="_blank"><img class="icon" src="{{app.image}}" /></a>
		</li>
	</ul>
</div>
<br/>
<h2 class="animate from-right" ng-class="{trigger: true}">Last scribbles</h2>
<div class="content animate from-right" ng-class="{trigger: true}" ng-controller="ScribblesController">
	<ul class="scribbles">
		<li data-ng-repeat="s in scribbles | orderBy:'id':true | filter:{published:true} | limitTo:3 " >
			<span class="date">{{s.date}}</span>
			<a ng-href="#!/scribble/{{slug(s.title)}}" class="btn">{{s.title}}</a>
		</li>
	</ul>
</div>