
<div id="header">
  <div class="container">
    <h1>Alexis Creuzot</h1>
    <h2>[iOS developer]</h2>
    <ul class="social">
		<li><a href="{{perso.twitter}}"><i class="fa fa-twitter fa-lg"></i></a></li>
		<li><a href="{{perso.github}}"><i class="fa fa-github fa-lg"></i></a></li>
		<li><a href="{{perso.stack_overflow}}"><i class="fa fa-stack-overflow fa-lg"></i></a></li>
		<li><a href="{{perso.dribbble}}"><i class="fa fa-dribbble fa-lg"></i></a></li>
    </ul>
  </div>
</div>

<div id="main">
	<div class="container">
		<h1 class="animate from-left" ng-class="{trigger: true}">/me</h1>
		<div class="content animate from-right" ng-class="{trigger: true}">
			<p>While studying for my Master in Computer Science, I fell in love with mobile technologies.
			From this point, I had various experiences on Android, iOS and Web technologies, allowing me to gain a comprehensive vision of this field. I now specialize on iPhone and iPad platforms, with a keen eye for design and user experience.
			</p>
			<p>This expertise and love of entrepreneurship led me to co-found <a href="http://monoqle.fr" target="_blank">Monoqle</a> with my associate and incredible designer <a href="http://jeremypaul.me" target="_blank">Jeremy Paul</a>.
			</p>
			<p>I'm currently working at <a href="http://happyh0urs.com"  target="_blank">Happy Hours coworking</a> located in Rennes (France) which I also helped to create.</p>
		</div>
	</div>
</div>
