<section id="contact">
  <div class="background-overlay"></div>
  <div class="container">
    <h2>&nbsp;</h2>
  </div>
  <div class="container">
    <div class="card">
      <div class="profile-pic">
        <img src="https://pbs.twimg.com/profile_images/1621648753043046402/V6U7LUu3_400x400.jpg" alt="ID">
        <ul>
          <li><a href="https://twitter.com/alexiscreuzot"><span class="icon-twitter"></span></a></li>
          <li><a href="https://github.com/alexiscreuzot"><span class="icon-github"></span></a></li>
          <!-- <li><a href="https://medium.com/@alexiscreuzot"><span class="icon-medium"></span></a></li> -->
          <li><a href="https://stackoverflow.com/users/421786/alexis-c"><span class="icon-stackoverflow"></span></a></li>
          <li><a href="https://www.linkedin.com/in/alexis-creuzot/"><span class="icon-linkedin"></span></a></li>
        </ul>
      </div>
      <div class="info">
        <small>Currently in</small>
        <span>Quérétaro, Mexico 🇲🇽</span>
  
        <small>status</small>
        <span><b>Unavailable</b> for new projects</span>
  
        <small>say hi</small>
        <span><a class="button e-mail" data-user="tozuerc.sixela" data-website="moc.liamg"></a></span>
      </div>
    </div>
    </div>
    
</section>
