<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="facebook-domain-verification" content="6nzeukurhjdvrvv7byiu1khra6wdm7" />

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{{ '/images/favicon.ico?v=2' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon-16x16.png?v=2' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon-32x32.png?v=2' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png?v=2' | relative_url }}">
    <link rel="manifest" href="{{ '/images/site.webmanifest?v=2' | relative_url }}">

    <link rel="canonical" href="{{ page.url | absolute_url }}">

    <link rel="stylesheet" href="{{ '/main.css' | relative_url }}"/>
    
  </head>