<header>
  <div class="container">
    <div class="row">
      <div class="title">
        <a href="#intro">
          <span class="firstname">ALEXIS</span>
          <span class="logo">}{</span>
          <span class="lastname">CREUZOT</span>
        </a>
      </div>
      <div class="nav">
        <ul>
          <li><a href="#work">Work</a></li>
          <li><a href="#contact">Contact</span></a></li>
          <li><a href="https://twitter.com/alexiscreuzot"><span class="icon-twitter"></span></a></li>
          <li><a href="https://github.com/kirualex"><span class="icon-github"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>