<section id="intro">
  <div class="intro__inner">
    <div class="container">
      <div class="intro__content">
        <div class="intro__avatar">
          <img src="https://pbs.twimg.com/profile_images/1621648753043046402/V6U7LUu3_400x400.jpg" alt="Alexis Creuzot">
        </div>
        
        <h1 class="intro__greeting">Hi, I'm <span class="intro__name-highlight">Alexis</span></h1>
        
        <div class="intro__bio">
          <p>
            I craft apps, hang out in coworking spaces and coffee shops, ship things, and always have some new idea brewing.
          </p>
        </div>

        <div class="intro__links">
          <a href="https://twitter.com/alexiscreuzot" aria-label="Twitter">Twitter</a>
          <span class="separator">·</span>
          <a href="https://github.com/alexiscreuzot" aria-label="GitHub">GitHub</a>
          <span class="separator">·</span>
          <a href="https://www.linkedin.com/in/alexis-creuzot/" aria-label="LinkedIn">LinkedIn</a>
          <span class="separator">·</span>
          <a href="https://stackoverflow.com/users/421786/alexis-c" aria-label="Stack Overflow">Stack Overflow</a>
        </div>
      </div>
    </div>
  </div>
</section>
