<section id="intro">
  <div id="particles"></div>
  <div class="intro__inner">
    <div class="container">
      <div class="teaser">
          <span>maker</span>
          <span class="slash">}{</span>
          <span>developer</span>
      </div>

      <div class="description">
        <p>Founder of <a class="button" href="http://monoqle.fr">Monoqle</a> and <a class="button" href="http://happyh0urs.com">Happy Hours</a> Coworking. iOS Developer, passionate about new technologies and space stuff.</p>
      </div>
    </div>
  </div>

</section>