<section id="websites">
  <div class="container">
    <h2 class="section__title">Web Things</h2>
    <p class="section__subtitle">Pixels I've pushed for clients</p>
    <div class="websites__list">
      {% for item in site.data.websites %}
      {% if item.discontinued %}
      <div class="websites__item websites__item--discontinued">
      {% else %}
      <a href="http://{{ item.url }}" 
         class="websites__item" 
         target="_blank">
      {% endif %}
        {% if item.image %}
        <div class="websites__item-image-wrapper">
          <img class="websites__item-image" src="{{ item.image }}" alt="{{ item.name }} screenshot" loading="lazy">
        </div>
        {% endif %}
        <div class="websites__item-content">
          <div class="websites__item-header">
            <div class="websites__item-title-row">
              <h3 class="websites__item-name">{{ item.name }}</h3>
              {% if item.discontinued %}
              <span class="websites__item-badge websites__item-badge--discontinued">Discontinued</span>
              {% endif %}
            </div>
            <span class="websites__item-url">{{ item.url }}</span>
            {% if item.description %}
            <p class="websites__item-description">{{ item.description }}</p>
            {% endif %}
          </div>
          {% if item.stack %}
          <div class="websites__item-stack">
            {% for skill in item.stack %}
            <span class="websites__item-tag">{{ skill }}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      {% if item.discontinued %}
      </div>
      {% else %}
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
