<section id="websites">
  <div class="container">
    <h2 class="section__title">Websites</h2>
    <p class="section__subtitle">Web projects and client work</p>
    <div class="websites__list">
      {% for item in site.data.websites %}
      <a href="http://{{ item.url }}" 
         class="websites__item" 
         target="_blank">
        <div class="websites__item-content">
          <div class="websites__item-header">
            <h3 class="websites__item-name">{{ item.name }}</h3>
            <span class="websites__item-url">{{ item.url }}</span>
          </div>
          {% if item.stack %}
          <div class="websites__item-stack">
            {% for skill in item.stack %}
            <span class="websites__item-tag">{{ skill }}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
