<section id="websites">
  <div class="container">
    <h2>Websites</h2>
    <h4>
      I also build websites for fun and profit. Here are some of my favorites.
    </h4>
  </div>
  
  <br/>
  {% for item in site.data.websites %}
  <div class="item container">
    <div class="six columns">
      <span><a href="https://{{ item.url }}" target="_blank">{{ item.url }}</a>
    </div>
    <div class="six columns">
      <ul>
        {% for skill in item.stack %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</section>