<section id="work">
  <div class="container">
    <h2>Selected Work</h2>
  </div>

  {% for project in site.data.works %}
  <project>
    <div class="abstract">
      <div class="container">
        <div class="name">
          <span>{{ project.name }}</span>
          {% if project.isNew %}
          <span class="newBadge">NEW</span>
          {% endif %}
        </div>
        <div class="more-icon">
          <span>›</span>
        </div>
      </div>
    </div>
    <div class="more">
      <div class="back-overlay">
        <div class="container" >
          <div class="five columns">
            <h3>{{ project.tagline }}</h3>
            <div class="buttons"> 
              {% if project.website %}<a class="button" href="{{ project.website }}">Website</a>{% endif %}
              {% if project.appid %}<a class="button" href="https://itunes.apple.com/app/{{ project.appid }}">App Store</a>{% endif %}
            </div>

            <p>{{ project.description }}</p>
          </div>
          <div class="seven columns screenshot">
            {% if project.hasVideo %}
            <video class="content" playsinline autoplay muted loop controls="true">
              <source src="videos/{{ project.id }}.mp4" type="video/mp4"> 
              <!-- <source src="videos/{{ project.id }}.webm" type="video/webm">
              <source src="videos/{{ project.id }}.ogv" type="video/ogg">  -->
            </video>
            {% else %}
            <img class="content" data-src="images/{{ project.id }}.jpg"/>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </project>
  {% endfor %}
</section>