//
// BANNER
//
div#banner {

	padding: 20px 0 18px;
	top: 0;
	margin: 0;
	display: block;
	position: fixed;
	width: 100%;
	z-index: 999;

	background: $color-nav;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);


	span {
		vertical-align: middle;
	}

	.title {
		width: auto;
		float: left;
		a {
			margin-left: 40px;
		}
	}

	.firstname ,.lastname {
		font-size: 14px;
		color: $font-color-base;
		width: 9px;
		display: inline-block;
		overflow: hidden;
		transition: all .3s;
	}
	.logo {
		color: transparent;
		background:$gradient;
		-webkit-background-clip: text;
		font-size: 16px;
		font-weight: 600;
	}
	.nav {
		text-align: right;
		padding-right: 20px;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline;
			padding: 0 4px;
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 550px) {

	.title,a {
		margin-left: 4px!important;
	}
	
}


@media screen and (min-width: 550px) {

	.title a:hover {
		.firstname {
			margin-left: -41px;
			width: 50px;
		}
		.lastname {
			width: 70px;
		}
	}
}


