/*
* Skeleton V2.0.4 - Minimal version
* Only keeping the container class which is actually used
* All other Skeleton styles removed as they conflict with custom styles
*/

/* Container - Only Skeleton class actually used */
.container {
  position: relative;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 100%;
  }
}
