
//
// GENERAL
//

* {
	&:after {
		box-sizing: border-box;
	}
	&:before {
		box-sizing: border-box;
	}
}

html {
	height: 100%;
	background: $color-background; /* fallback for old browsers */
}

body {
	height: 100%;
	color: $font-color-base;
	font-weight: 500;
	font-size: 200%;
	font-family: $font_0, $font_1, $font_2;
}

//
// TEXTS
//
p {
	font-size: 18px;
	font-weight: 300;
	margin: 20px auto 0;
	padding: 0;
}

a {
	color: $font-color-base;
	text-decoration: none;
	outline: none;
	transition: all .3s;
	&:hover {
		color: $font-color-highlight;
	}
	&:focus {
		color: $font-color-highlight;
	}

	&.button{
		cursor: pointer;
		background: transparent;
		color: $font-color-base;
		padding: 3px 10px 4px;
		border-radius: 30px;
		border:2px solid $font-color-highlight;
		outline: 0;
		&:hover {
			background: transparentize($font-color-highlight,.8);
			color: $font-color-base;
		}	
	}
}

h2 {
	font-weight: 600;
	font-size: 55px;
	color: transparent;
	background:$gradient;
	-webkit-background-clip: text;
	display:inline-block; 
}

//
// Sections
//
section {
	min-height: 100%;
	.container {
		margin: 0 auto;
	}
}

//
// RESPONSIVE
//
@media screen and (min-width: 1200px) {
	.container {
		min-width: 900px;
	}
}

@media screen and (max-width: 800px) {
	.container {
		padding: 0 15px;
	}
}

@media screen and (max-width: 550px) {
	h2 {
		font-weight: 600;
		font-size: 40px;
	}
}