
* {
	&:after {
		box-sizing: border-box;
	}
	&:before {
		box-sizing: border-box;
	}
}
.clearfix {
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
html {
	height: 100%;
}
body {
	height: 100%;
	color: $font-color-base;
	font-weight: 500;
	font-size: 200%;
	font-family: $font_0, $font_1, $font_2;

	background: $color-background; /* fallback for old browsers */
	background: -webkit-linear-gradient(30deg, $color-background-bis, $color-background); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(30deg, $color-background-bis, $color-background); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	     
	background-attachment: fixed;  
}
p {
	font-size: 18px;
	margin: 20px auto 0;
	padding: 0;
}
a {
	color: $font-color-base;
	text-decoration: none;
	outline: none;
	transition: all .3s;
	&:hover {
		color: $font-color-highlight;
	}
	&:focus {
		color: $font-color-highlight;
	}

	&.button{
		cursor: pointer;
		background: transparent;
		color: $font-color-base;
		padding: 3px 10px 4px;
		border-radius: 30px;
		border:2px solid $font-color-highlight;
		outline: 0;
		&:hover {
			background: transparentize($font-color-highlight,.8);
			color: $font-color-base;
		}	
	}
}

h2 {
	font-weight: 600;
	font-size: 55px;
	color: $font-color-highlight;
}

header {
	padding: 20px 0 18px;
	top: 0;
	background: $color-nav;
	margin: 0;
	display: block;
	position: fixed;
	width: 100%;
	z-index: 999;
	span {
		vertical-align: middle;
	}

	.title {
		width: auto;
		float: left;
		a {
			margin-left: 40px;
		}
	}

	.firstname ,.lastname {
		font-size: 15px;
		color: $font-color-base;
		width: 10px;
		display: inline-block;
		overflow: hidden;
		transition: all .3s;
	}
	.logo {
		font-size: 24px;
		font-weight: 600;
	}
	.nav {
		text-align: right;
		padding-right: 20px;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline;
			padding: 0 4px;
			font-size: 16px;
		}
	}
	a.hover {
		.firstname {
			margin-left: -40px;
			width: 50px;
		}
		.lastname {
			width: 70px;
		}
	}
}

section {
	min-height: 100%;
	&#intro {
		.intro__inner {
			margin-top: -181px;
			position: absolute;
			top: 50%;
			width: 100%;
		}

		#particles{
			opacity:0;
			min-height:80%;
			min-width:80%;
			position:absolute;
			margin:10% ;
			margin-top:100px ;
			transition: opacity 3s ease-in-out;
		}

		#particles.show{
			opacity:.8;
		}

		.teaser {
			font-weight: 600;
			text-align: center;
			font-size: 40px;
			height: 100px;
			text-transform: uppercase;
			line-height: 100px;
		}
		span {
			vertical-align: middle;
			padding: 0 20px;
		}
		.slash {
			font-size: 60px;
			color: $font-color-highlight;
		}
		.description {
			p {
				margin-top: 100px;
				font-size: 34px;
				text-align: justify;
				font-weight: 200;
			}
		}
	}

	&#work {
		padding-top: 150px;
		.abstract {
			padding: 16px;
			font-size: 34px;
			font-weight: 100;
			cursor: pointer;
			transition: all .1s;
			&:hover, &.show {
				background: $font-color-highlight;
				color: $color-white;
				.more-icon {
					color: $color-white;
				}
			}
		}
		.name {
			float: left;
		}
		.more-icon {
			float: right;
			color: $font-color-base;
			text-align: right;
			transition: all .3s;
			transform: rotate(0deg);
			&.open {
				transform: rotate(90deg);
			}
		}
		.back-overlay{
	      padding: 60px 0;
	      height: 500px;
	      background-color: $color-project-back;
	      transition: background 3s ease-in-out;
	    }
		.more {
			background-color: $color-project-back;
			background-repeat: none;
			background-origin: center;
			background-attachment: fixed;
			color: $color-white;
			font-weight: 100;
			height: 0;
			overflow-y: hidden;

			-webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			
			-webkit-transition: all 300ms cubic-bezier(0.540, 0.010, 0.020, 0.995); 
		   -moz-transition: all 300ms cubic-bezier(0.540, 0.010, 0.020, 0.995); 
		     -o-transition: all 300ms cubic-bezier(0.540, 0.010, 0.020, 0.995); 
		        transition: all 300ms cubic-bezier(0.540, 0.010, 0.020, 0.995); /* custom */

			&.show {
				height: 500px;
				display: block;
			}

			h3 {
				font-size: 30px;
				font-weight: 500;
				text-align: center;
			}

			p{
				padding-bottom: 40px;
				color: rgba(255,255,255,.8);

			}

			.screenshot
			{
				opacity: 0;
				text-align: center;
				transition : all 1s;
				img{
					-webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, .25);
					-moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, .25);
					box-shadow: 4px 4px 20px rgba(0, 0, 0, .25);
					-webkit-transform: perspective( 600px ) rotateY( -25deg ) rotateX( 5deg );
					-moz-transform: perspective( 600px ) rotateY( -25deg ) rotateX( 5deg );
					transform: perspective( 600px ) rotateY( -25deg ) rotateX( 5deg );
					width:50%;
				}
			}

			.buttons {
				text-align: center;
				padding: 20px 0;
			}
		}
	}
	&#contact {
		min-height: 80%;
		padding-top: 100px;

		.e-mail:before {
            content: attr(data-website) "\0040" attr(data-user);
            unicode-bidi: bidi-override;
            direction: rtl;
        }

		h2 {
			margin-bottom: 40px;
		}
		small {
			display: block;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 14px;
		}
		span {
			display: block;
			font-size: 45px;
			font-weight: 200;
		}
	}
}
.container {
	margin: 0 auto;
}

@media screen and(min-width: 1200px) {
	
	.container {
		min-width: 900px;
	}

	section#work .more.show{
		height: 600px;
	}

	section#work .more .buttons a{
		padding: 8px 12px;
	}
}

@media screen and(max-width: 800px) {
	.container {
		padding: 0 15px;
	}
	section {
		&#intro {
			.teaser {
				font-size: 24px;
				height: 100px;
				line-height: 100px;
			}
			span {
				vertical-align: middle;
				padding: 0 2px;
			}
			.description p {
				margin-top: 50px;
				font-size: 24px;
			}
		}
		&#work .abstract {
			font-size: 26px;
		}

		&#contact span {
			font-size: 30px;
		}
	}
}

@media screen and(max-width: 550px) {

	h2 {
		font-weight: 600;
		font-size: 40px;
	}

	section {
		&#work .more.show, 
		&#work .more .back-overlay{
			height: 800px;
		}
	}
	
}