
//fonts
$font_0: "Ubuntu";
$font_1: Helvetica;
$font_2: sans-serif;

$color-nav: rgba(8,8,18,0.2);
$color-white: #fefefe;
$color-project-back: #080812;

$gradient: linear-gradient(-40deg, #FC5A95 0%, #B954EB 50%, #78DAFC 100%);

$font-color-base : #F3F3FE;
$font-color-highlight : #58BAFC;
$color-background: #121212;
$color-background-bis: #1A1A1A;