
//
// GENERAL
//

* {
	&:after {
		box-sizing: border-box;
	}
	&:before {
		box-sizing: border-box;
	}
}

html {
	height: 100%;
	background: $color-background; /* fallback for old browsers */
}

body {
	height: 100%;
	color: $font-color-base;
	font-weight: 500;
	font-size: 200%;
	font-family: $font_0, $font_1, $font_2;
}

//
// TEXTS
//
p {
	font-size: 18px;
	font-weight: 300;
	margin: 20px auto 0;
	padding: 0;
}

a {
	color: $font-color-base;
	text-decoration: none;
	outline: none;
	transition: all .3s;
	&:hover {
		color: $font-color-highlight;
	}
	&:focus {
		color: $font-color-highlight;
	}

	&.button{
		cursor: pointer;
		background: transparent;
		color: $font-color-base;
		padding: 3px 10px 4px;
		border-radius: 30px;
		border:2px solid $font-color-highlight;
		outline: 0;
		&:hover {
			background: transparentize($font-color-highlight,.8);
			color: $font-color-base;
		}	
	}
}

h2 {
	font-weight: 600;
	font-size: 55px;
	color: transparent;
	background:$gradient;
	-webkit-background-clip: text;
	display:inline-block; 
}

//
// HEADER
//
div#banner {
	padding: 20px 0 18px;
	top: 0;
	margin: 0;
	display: block;
	position: fixed;
	width: 100%;
	z-index: 999;

	background: $color-nav;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);

	span {
		vertical-align: middle;
	}

	.title {
		width: auto;
		float: left;
		a {
			margin-left: 40px;
		}
	}

	.firstname ,.lastname {
		font-size: 14px;
		color: $font-color-base;
		width: 9px;
		display: inline-block;
		overflow: hidden;
		transition: all .3s;
	}
	.logo {
		color: transparent;
		background:$gradient;
		-webkit-background-clip: text;
		font-size: 16px;
		font-weight: 600;
	}
	.nav {
		text-align: right;
		padding-right: 20px;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline;
			padding: 0 4px;
			font-size: 16px;
		}
	}
	a.hover {
		.firstname {
			margin-left: -41px;
			width: 50px;
		}
		.lastname {
			width: 70px;
		}
	}
}

//
// Sections
//
section {
	min-height: 100%;
	.container {
		margin: 0 auto;
	}
}

section#privacy {
	margin: 120px auto 0;
	.container {
		padding-bottom: 100px;
	}
	h3 {
		padding-top: 50px;
	}
}

//
// INTRO
//
section#intro {

	.intro__inner {
		margin-top: -181px;
		position: absolute;
		top: 50%;
		width: 100%;
	}

	#particles{
		opacity:0;
		min-height:80%;
		min-width:80%;
		position:absolute;
		margin:10% ;
		margin-top:100px ;
		transition: opacity 3s ease-in-out;
	}

	#particles.show{
		opacity:.8;
	}

	.teaser {
		font-weight: 600;
		text-align: center;
		font-size: 52px;
		line-height: 100px;
		color: transparent;
		background:$gradient;
		-webkit-background-clip: text; 
	}
	span {
		vertical-align: middle; 
		padding: 0 20px;
	}
	.slash {
		font-size: 70px;
		padding:0;
		margin:0;
		color: transparent;
		background:$gradient;
		-webkit-background-clip: text;
	}
	.description {
		p {
			margin-top: 60px;
			font-size: 34px;
			text-align: justify;
			font-weight: 300;
		}
	}
}

//
// WORK
//
section#work {
	padding-top: 150px;
	.abstract {
		padding: 16px;
		font-size: 34px;
		font-weight: 200;
		cursor: pointer;
		transition: all .1s;
		&:hover, &.show {
			background: lighten($color-background, 6%);
			color: $color-white; 
			.more-icon {
				color: $color-white;
			}
		}
	}
	.name {
		float: left;

		.newBadge {
			padding: 2px 5px 0px;
			font-size: 11px;
			font-family: sans-serif;
			font-weight: 400;
			border-radius: 5px;
			display: inline-block;
			vertical-align: middle;
			margin: -2px 0 0 6px;
			background-color: $font-color-highlight;
			color: $color-white;
		}
	}
	.more-icon {
		float: right;
		color: $font-color-base;
		text-align: right;
		transition: all .3s;
		transform: rotate(0deg);
		&.open {
			transform: rotate(90deg);
		}
	}
	.back-overlay{
		padding: 60px 0;
		height: auto;
		background-color: $color-project-back;
		transition: background 3s ease-in-out;
	}

	.more {
		background-color: $color-project-back;
		background-repeat: none;
		background-origin: center;
		background-attachment: fixed;
		color: $color-white;
		font-weight: 200;
		max-height: 0;
		overflow-y: hidden;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		-webkit-transition: all 300ms cubic-bezier(0.540, 0.010, 0.020, 0.995); 
		-moz-transition: all 300ms cubic-bezier(0.540, 0.010, 0.020, 0.995); 
		-o-transition: all 300ms cubic-bezier(0.540, 0.010, 0.020, 0.995); 
		transition: all 300ms cubic-bezier(0.540, 0.010, 0.020, 0.995); /* custom */

		&.show {
			max-height: 1000px;
			display: block;
		}

		h3 {
			font-size: 30px;
			font-weight: 500;
			text-align: center;
		}

		p{
			padding-bottom: 40px;
			color: rgba(255,255,255,.8);
		}

		.screenshot
		{
			text-align: center;
			img{ 
				width:50%;
			}

			video{ 
				height:460px;
			}

			.content {
				border-radius: 10px;
				box-shadow: 4px 4px 20px rgba(0, 0, 0, .25);
				transform: perspective( 600px ) rotateY( -20deg ) rotateX( 5deg );
			}
		}

		.buttons {
			text-align: center;
			padding: 20px 0;
		}
	}
}

//
// community
//

section#community {
	padding-top: 150px;

	.item {
		padding-bottom: 20px;
	}

	h5 {
		opacity: 0.3;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 18px;
	}

	a {
		font-weight: 200;
		font-size: 22px;
	}
}

//
// CONTACT
//
section#contact {
	min-height: 80%;
	padding-top: 100px;
	position: relative;
  
	.background-overlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: url(../images/back.jpg) no-repeat 50% fixed / cover;
	  opacity: 0.7;
	}
  
	.e-mail:before {
	  content: attr(data-website) "\0040" attr(data-user);
	  unicode-bidi: bidi-override;
	  direction: rtl;
	}
  
	h2 {
	  margin-bottom: 40px;
	}
  
	small {
	  display: block;
	  font-weight: 600;
	  text-transform: uppercase;
	  font-size: 14px;
	}
  
	span {
	  display: block;
	  font-size: 32px;
	  font-weight: 200;
	}
  
	// New SCSS for the two-column layout
	.card {
	  display: flex;
	  flex-direction: row;
	  align-items: flex-start;
	  max-width: 600px;
	  margin: auto;
	}
  
	.profile-pic {
	 
	  padding-right: 40px;

	  ul {
		padding: 0;
		margin: 20px 0 0;
		li {
			display: inline-block;
			padding: 0 5px;
			margin: 0;
			span {
				font-size: 20px;
			}

		}
	}
	}
  
	.profile-pic img {
		width: 140px;
	  height: auto;
	  border-radius: 50%;
	}
  
	.info {
	  small {
		margin-bottom: 0.25rem;
		font-size: 0.85rem;
		text-transform: uppercase;
	  }
  
	  span {
		margin-bottom: 1rem;
		overflow-wrap: break-word;
	  }
	}
  }
  

//
// RESPONSIVE
//
@media screen and(min-width: 1200px) {
	
	.container {
		min-width: 900px;
	}

	section#work .more .buttons a{
		padding: 8px 12px;
	}
}

@media screen and(max-width: 800px) {
	.container {
		padding: 0 15px;
	}
	section#intro {
		.teaser {
			font-size: 24px;
			height: 100px;
		}
		span {
			vertical-align: middle;
			padding:2px;
		}
		.slash {
			font-size: 32px;
		}
		.description p {
			margin-top: 50px;
			font-size: 24px;
		}
	}
	section#work .abstract {
		font-size: 26px;
	}

	section#contact span {
		font-size: 20px;
	}

	section#contact  .profile-pic {
		padding-right: 20px;
	}
}

@media screen and(max-width: 550px) {

	h2 {
		font-weight: 600;
		font-size: 40px;
	}

	section#work .more {
		.show, .back-overlay {
			video, img { 
				width:auto;
				height:380px;
			}
		}
	}

	section#contact .profile-pic img {
		width: 80px;
	}

	section#contact span {
		font-size: 14px;
	}
}

@media screen and(max-height: 400px) {	
	.teaser {
		line-height: 400px;
	}
}