@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500);

//fonts
$font_0: "Ubuntu";
$font_1: Helvetica;
$font_2: sans-serif;

// Style commons
$color-nav: rgba(8,8,18,0.2);
$color-white: #fefefe;
$color-project-back: #080812;

$gradient: linear-gradient(-40deg, #FC5A95 0%, #B954EB 50%, #78DAFC 100%);

@import "theme-2018";

@import "normalize",
        "skeleton",
        "icomoon",
        "style";

