<!DOCTYPE html>
<html>

{% include _head.html %}

  <body>

    {% include _banner.html %}

    {% include _intro.html %}

    {% include _work.html %}

    {% include _websites.html %}

    {% include _community.html %}

    {% include _contact.html %}

    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="{{ "/scripts/vendor/jquery/jquery.waitforimages.min.js" | prepend: site.baseurl_root }}" defer></script>
    <script src="{{ "/scripts/vendor/jquery/jquery.backstretch.js" | prepend: site.baseurl_root }}" defer></script>
    <script src="{{ "/scripts/vendor/jquery/jquery.particleground.js" | prepend: site.baseurl_root }}" defer></script>
    <script src="{{ "/scripts/vendor/fastclick.js" | prepend: site.baseurl_root }}" defer></script>
    <script src="{{ "/scripts/vendor/milkyway.js" | prepend: site.baseurl_root }}" defer></script>
    <script src="{{ "/main.js" | prepend: site.baseurl_root }}" defer></script>

  </body>
</html>
